# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# PI² / NN outputs — regeneratable, can be huge
results/**/train*/
results/**/tests/
#results/**/*.pth
results/**/*.npz
results/**/graphics/
results/**/*.png

# Editors / OS
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints/
